// set custom hex colors
$siteBgColorCustom: #FFFFF;
$sidebarBgColorCustom: #ff4700;
$textColorCustom: #000000;
$sidebarTextColorCustom: #000000;
$headlineColorCustom: #ff4700;
$headingColorCustom: #ff4700;
$bodyLinkColorCustom: #FF4500;
$navLinkColorCustom: #ff4700;
$sidebarLinkColorCustom: #c4001a;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #ff4700;
$buttonHoverBgColorCustom: #ff4700;
$borderColorCustom: #c4beb9;
